.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}
body{
  background-color: rgb(1, 158, 158);
}
 h1{
   font-size: 50px;
   color: rgb(58, 58, 43);
 }
form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input, select, button, textarea {
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 0.8em;
} 











